{% extends "base.html" %}
{% load static %}
{% block title %}Manage Medications{% endblock %}

{% block content %}
  <div class="home">
    <div class="card text-center">
      <div class ="card-section">
        <h2>Manage Medications for {{ patient_name }}</h2>

        <table id="med-table" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Medication</th>
              <th>RxNorm</th>
              <th>Dispense</th>
              <th>Order Status</th>
              <th>Refills</th>
              <th>Pharmacy Note</th>
            </tr>
          </thead>
          <tbody>
            {% for m in med_list %}
              <tr data-id="{{ m.id }}">
                <td>{{ m.name }}</td>
                <td>{{ m.rxnorm }}</td>
                <td>{{ m.dispense_quantity }}</td>
                <td>{{ m.order_status }}</td>
                <td {% if m.number_refills < 2 %}class="orange_bg"{% endif %}>
                  {{ m.number_refills }}
                </td>
                <td>{{ m.pharmacy_note }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="modal" id="med-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> Dispense</h4>
        </div>
        <div class="modal-body" id="med-modal-body">
          <p class="text-center">( loading... )</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="modal-save-button">Dispense</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var patient_id = {{ patient_id }};
    var selected_med = {};

    $(function() {
      $('#med-modal').modal('hide');
      $('#med-table tbody tr').click( function () {
        selected_med = $(this).attr('data-id');
        $('#med-modal-body').load('/modify/'+selected_med+'/');
        $('#med-modal').modal('show');
      });
      $('#modal-save-button').click(function(){
        $('#med-form').ajaxSubmit({url: '/modify/'+selected_med+'/', type: 'post', success: function(){
          $('#med-modal').modal('hide');
          location.reload();
          }
        });
      });
    });
  </script>
{% endblock %}
